<!DOCTYPE html>
<html>
<head>
  <title>HellYeah!</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id='wrapper'>
    <header>
      <h1><a href='/'><em>Hell</em>Yeah!</a></h1>
    </header>
    <%= yield %>
    <footer>Demo app for <b>OmniAuth: From the Ground Up</b>. &copy; Michael Bleigh, no rights reserved.</footer>
  </div>
</body>
</html>
